<div class="container">
    <h3 class="h4 text-success font-weight-bold mb-4"></h3>
    <div class="row justify-content-center">
        <div class="col-lg-14">
            <!-- Tabs with icons -->
            <div class="mb-3">
                <small class="text-uppercase font-weight-bold"></small>
            </div>
            <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="ni ni-cloud-upload-96 mr-2"></i> Hakkımda
                    </ng-template>
                    <ng-template ngbTabContent>
                        <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                            synth.
                        </p>
                        <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>

            <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="ni ni-cloud-upload-96 mr-2"></i> Hakkımda
                    </ng-template>
                    <ng-template ngbTabContent>
                        <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                            synth.
                        </p>
                        <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">

        </div>


    </div>