<div class="container container-lg">
    <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
            <div class="card card-lift--hover shadow border-0">
                <a [routerLink]="['/landing']" title="Landing Page">
                    <img src="./assets/img/theme/landing.jpg" class="card-img">
                </a>
            </div>
        </div>
        <div class="col-md-6 mb-5 mb-lg-0">
            <div class="card card-lift--hover shadow border-0">
                <a [routerLink]="['/user-profile']" title="Profile Page">
                    <img src="./assets/img/theme/profile.jpg" class="card-img">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container container-lg">
</div>