<footer class="footer">
    <div class="container container-lg ">

    </div>

    <div class="container ">
        <section class="section section-lg ">
            <div class="shape shape-style-2 shape-dark ">
            </div>
            <div class="row row-grid align-items-center ">
                <div class="col-lg-6 ">
                    <h3 class="text-primary font-weight-dark mb-2 ">Beni takip edebilirsiniz!</h3>
                    <h3 class="text-primary font-weight-dark mb-2 ">&copy; {{test | date: 'yyyy'}} Tarık Soğukpınar </h3>
                </div>
                <div class="col-lg-6 text-lg-center btn-wrapper ">


                    <a href="https://github.com/TarikSogukpinar" class="btn btn-lg btn-warning btn-icon mb-3 mb-sm-0" target="_blank">
                        <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                        <span class="btn-inner--text">
                            <span class="text-white">Github </span> Sayfam</span>
                    </a>
                    <a href="https://tariksogukpinar.medium.com/" class="btn btn-lg btn-warning btn-icon mb-3 mb-sm-0" target="_blank">
                        <span class="btn-inner--icon"><i class="ni ni-diamond"></i></span>
                        <span class="btn-inner--text">
                            <span class="text-white">Blog </span> Sayfam</span>
                    </a>

                </div>
            </div>
            <hr>


        </section>
    </div>

</footer>