<section class="section section-lg">
    <div class="container">
        <div class="row row-grid justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="display-3">
                    <p>
                    </p>
                    <p></p>

                </h2>

                <h3 class="display-3 text-white">Kullanabildiğim ve Üzerinde Çalıştığım Teknolojiler...
                    <span class="text-white"></span>
                </h3>
                <p></p>
                <p></p>
                <div class="text-center">



                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <div class="row justify-content-center">


                        <div class="col-lg-2 col-4">
                            <a href="https://docs.microsoft.com/tr-tr/dotnet/csharp/" target="_blank" placement="top" ngbTooltip="C#">
                                <img src="https://seeklogo.com/images/C/c-sharp-c-logo-02F17714BA-seeklogo.com.png" class="img-fluid">
                            </a>
                        </div>

                        <div class="col-lg-2 col-4">
                            <a href="https://go.java/?intcmp=gojava-banner-java-com" target="_blank" placement="top" ngbTooltip="Java">
                                <img src="https://seeklogo.com/images/J/java-logo-A5A6D66CD2-seeklogo.com.png" class="img-fluid">
                            </a>
                        </div>

                        <div class="col-lg-2 col-4">
                            <a href="https://www.typescriptlang.org" target="_blank" placement="top" ngbTooltip="TypeScript">
                                <img src="https://seeklogo.com/images/T/typescript-logo-B29A3F462D-seeklogo.com.png" class="img-fluid">
                            </a>
                        </div>

                        <div class="col-lg-2 col-4">
                            <a href="https://angular.io" target="_blank" placement="top" ngbTooltip="Angular">
                                <img src="https://seeklogo.com/images/A/angular-logo-B76B1CDE98-seeklogo.com.png" class="img-fluid">
                            </a>
                        </div>



                        <div class="col-lg-2 col-4">
                            <a href="https://getbootstrap.com/" target="_blank" placement="top" ngbTooltip="Bootstrap">
                                <img src="https://seeklogo.com/images/B/bootstrap-logo-3C30FB2A16-seeklogo.com.png" class="img-fluid">
                            </a>
                        </div>

                        <div class="col-lg-2 col-4">
                            <a href="http://www.lua.org/" target="_blank" placement="top" ngbTooltip="Lua">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Lua-Logo.svg/1024px-Lua-Logo.svg.png" class="img-fluid">
                            </a>
                        </div>



                    </div>
                </div>


                <div class="text-center">

                    <p></p>
                    <p></p>
                    <div class="row justify-content-center">


                        <div class="col-lg-2 col-4">
                            <a href="https://visualstudio.microsoft.com/tr/" target="_blank" placement="top" ngbTooltip="Visual Studio">
                                <img src="https://seeklogo.com/images/V/visual-studio-logo-14F95CF819-seeklogo.com.png" class="img-fluid">
                            </a>
                        </div>

                        <div class="col-lg-2 col-4">
                            <a href="https://visualstudio.microsoft.com/tr/" target="_blank" placement="top" ngbTooltip="Visual Studio Code">
                                <img src="https://seeklogo.com/images/V/visual-studio-code-logo-449D71944F-seeklogo.com.png" class="img-fluid">
                            </a>
                        </div>

                        <div class="col-lg-2 col-4">
                            <a href="https://www.jetbrains.com/" target="_blank" placement="top" ngbTooltip="Intellij İdea">
                                <img src="https://seeklogo.com/images/I/intellij-idea-logo-F0395EF783-seeklogo.com.png" class="img-fluid">
                            </a>
                        </div>

                        <div class="col-lg-2 col-4">
                            <a href="https://www.jetbrains.com/" target="_blank" placement="top" ngbTooltip="Web Storm">
                                <img src="https://seeklogo.com/images/W/webstorm-logo-691E749F21-seeklogo.com.png" class="img-fluid">
                            </a>
                        </div>



                        <div class="col-lg-2 col-4">
                            <a href="https://www.microsoft.com/tr-tr/sql-server/sql-server-downloads" target="_blank" placement="top" ngbTooltip="SQL Server">
                                <img src="https://seeklogo.com/images/M/microsoft-sql-server-logo-96AF49E2B3-seeklogo.com.png" class="img-fluid">
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>